{% extends "base.html" %} {% load static %} {% block content %}

<!-- Hero Section with Parallax Effect -->
{% include "website/components/heroSection.html" %}

<!-- Objectives Section with Grid Layout -->
{% include "website/components/objectiveSection.html" %}


<!-- Organizations Slider -->
{% include "website/components/organizations.html" %}


<!-- Gallery Section with Lightbox Effect -->
{% include "website/components/gallerySection.html" %}


<!-- Stats Section with Counter Animation -->
{% include "website/components/statsSection.html" %}


<!-- Events Section -->
{% include "website/components/eventsSection.html" %}


<!-- Team Section -->
{% include "website/components/teamsSection.html" %}


<!-- CTA Section -->
{% include "website/components/ctaSection.html" %}

{% endblock content %}
